<% if base_roms.any? %>
  <h3><a href="#"><%= section %> (<%= base_roms.count %>)</a></h3>
  <div>
    <ul>
    <% base_roms.each do |base_rom| %>
      <li><%= link_to base_rom.name, device_base_rom_configurations_path(@device, base_rom) %>
      <span class="uploader_name">(by <%= uploader_name_for base_rom %>)</span></li>
    <% end %>
    </ul>
  </div>
<% end %>