<h1>Listing devices</h1>

<ul>
<% @devices.each do |device| %>
  <li><%= device.image_url %> <%= link_to device.name, device %></li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'New Device', new_device_path %>
</div>

