<h1>Devices</h1>

<ul>
<% @devices.each do |device| %>
  <li><%= device.image_url %> <%= link_to device.name, device %></li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'New device', new_device_path %> |
  <%= link_to 'Packages', packages_path %>
</div>

