<h1>Minidoudou</h1>

<p>Welcome to Minidoudou, the online Android ROM customizer</p>
<p>Get started now:</p>
<ol>
  <li>Select your device below</li>
  <li>Choose the base ROM you want to customize</li>
  <li>Select an existing configuration <strong>or</strong>make your own</li>
  <li>If you made your own, wait a few minutes for the system to build it</li>
  <li>Download and flash like any other ROM</li>
</ol>
<p>Minidoudou is still under development, don't expect too much right now...<br/>After a first test phase, we will be looking for contributors to support more devices and base ROMs, so be sure to check back soon!</p>

<ul>
<% @devices.each do |device| %>
  <li><%= device.image_url %> <%= link_to device.name, device %></li>
<% end %>
</ul>

<div id="admin">
  <%= link_to 'New device', new_device_path %> |
  <%= link_to 'Packages', packages_path %>
</div>

<small>This website is made available in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.<br/>
By installing ROMs downloaded from this website on your phone, you are voiding the manufacturer's warranty. You have been warned.</small>

